/OvalShape.class
/Shape.class
/ShapeColor.class
/ShapeShadingType.class
/ShapeType.class
/StartAndEndPointMode.class
/TriangleShape.class
/IShapeStrategy.class
/Oval.class
/Rectangle.class
/ShapeFactory.class
/Triangle.class
